<Wix Version="1.9.0.4">
	<Settings SettingsPassword="" WixCoreExpanded=";WDEW-Root;{44FCD3D7-0D32-4A83-802E-06F089726F1E};{4F3BB2C5-FADF-49DA-8170-BC933C5B9EAB};VisualElements;" DemoDialogVisible="True" WebExternalData="" VisibleUsersDevices="False" GraphFilePath=".\Data\">
		<ModbusRTU PapouchPanel="True" ModbusRTUSupport="True" WebHistory="False"/>
		<Measure interval="1"/>
		<Form AlphaBlend="20"/>
		<SaveRecordList>
			<SaveRecord Caption="Archive example" Enabled="False" FileName=".\{Datetime(yyyy-mm-dd)} Archive.txt" AddCRLF="True" RewriteFile="False" Interval="60" IntervalType="1" LastSynchronizedDateTimePoint="42926,572823044" SynchronizationDateTime="40366">
				<HeadData>
					<![CDATA[Date{TAB}{TAB}Time{TAB}{TAB}TME - Papouch s.r.o]]>
				</HeadData>
				<BodyData>
					<![CDATA[{Datetime(dd.mm.yy)}{TAB}{Datetime(hh:mm:ss)}{TAB}{TME___Papouch_s_r_o.Venkovn__teplota.Value()}{TME___Papouch_s_r_o.Venkovn__teplota.Unit()}]]>
				</BodyData>
				<DatabaseData/>
			</SaveRecord>
		</SaveRecordList>
		<Languages language="English"/>
		<WebServer Active="False" Port="80" Authentification="False" UserName="" Password="7F059702C5A5C4B48E34AD97F3A4"/>
		<ActionList>
			<ActionNode Caption="Periodic Test Action" Enabled="False">
				<Condition ClassName="WCEAEX_TCondition" DelayValue="0" DelayUnit="0" Caption="" Enabled="True">
					<Condition ClassName="WCEA_TConditionList" DelayValue="0" DelayUnit="0" AndList="False">
						<Condition ClassName="WCEAEX_TCondition" DelayValue="0" DelayUnit="0" Caption="Always True" Enabled="True">
							<Condition Value="True" ClassName="WCEA_TConditionAlwaysTrueFalse" DelayValue="0" DelayUnit="0"/>
						</Condition>
					</Condition>
				</Condition>
				<Event ClassName="WCEA_TEventSetCondition" Periodically="True" SynchronizationEnabled="False" SynchronizationDateTime="40546">
					<Interval Interval="10" IntervalType="1" LastSynchronizedDateTimePoint="42926,5732546643" SynchronizationDateTime="40546"/>
				</Event>
				<Action ClassName="WCEAEX_TAction" Caption="" Enabled="True">
					<Action ClassName="WCEA_TActionList">
						<Action ClassName="WCEAEX_TAction" Caption="Test Action" Enabled="True">
							<Action ClassName="TWxDataExportCommandAction" Caption="" Enabled="True" BatchName="Messages\WebPageViewer.exe">
								<![CDATA[Caption="Wix Alarm"
URL="Default.html"
GET_Caption="Alarm on {TME___Papouch_s_r_o.Venkovn__teplota.Name()}"
GET_Text="Input: {TME___Papouch_s_r_o.Venkovn__teplota.Name()}
Value: {TME___Papouch_s_r_o.Venkovn__teplota.Value()} {TME___Papouch_s_r_o.Venkovn__teplota.Unit()}
Date: {Datetime(d. mmmm yyy)}
Time: {Datetime(hh:nn:ss)}"

Width=400
Height=250]]>
								<Action/>
							</Action>
						</Action>
					</Action>
				</Action>
			</ActionNode>
		</ActionList>
	</Settings>
	<VisualPanelManager>
		<PanelWindowList>
			<PanelWindow Guid="{6F111B0E-A51F-438C-88EC-838C414E4082}" Caption="">
				<Panels>
					<Panel ClassName="TWixPapouchPanel" Guid="{A82F5F6A-C9C9-4753-9098-0179593C90BE}" Caption="" Visible="True"/>
					<Panel ClassName="TGraphPanel" Guid="{B473E527-F781-4A29-AC03-8DEE2770E78F}" Caption="Papouch" Visible="True" max="50" min="-10" Continual="True" interval="1" intervaltype="1" TimeFrom="40192,3333333333" TimeTo="40192,6666666667" back="0" grid2="21760" grid1="34816" text2="34816" text1="47872" ShowHorizontalLine="True" ShowHatch="False" singlewin="0" SingleWinLeft="190" SingleWinTop="118" SingleWinRight="883" SingleWinBottom="582" SingleWinState="0">
						<item sensor="{25D706EC-9527-4347-B63F-D89CCEF9D229}" color="33023"/>
					</Panel>
					<Panel ClassName="TWxDataPoint" Guid="{A545F48F-2EEF-4B56-AD9E-5A52EBA968BC}" Caption="Papouch outside" Visible="True" AddCoef="0" MultipleCoef="1" Saturate="False" XLow="0" XHigh="10000" DecimalDigitCount="1" UnitStr="°C" Padding="5" WxModulGuid="{25D706EC-9527-4347-B63F-D89CCEF9D229}" DeviceComponentGuid="{25D706EC-9527-4347-B63F-D89CCEF9D229}" CalculationGuid="" IsDigitalOutput="False" IsAnalogOutput="False" IsCounter="False"/>
					<Panel ClassName="TActionBasicPanel" Guid="{57044E0C-4CAF-4A3F-8DF9-ABA2B13CF7B1}" Caption="Settings" Visible="True" TextColor="-16777208" BackColor="-16777201"/>
				</Panels>
				<Window AutoHide="False" AlwaysOnTop="False" ClickThrought="False" NormalAlphaBlend="204" AutoWidth="False" FixedWidth="200" Visible="True" MonitorNum="0" Left="max" Top="max"/>
			</PanelWindow>
		</PanelWindowList>
		<SensorConfiguration TextAc="0" TextErr="0" TextCon="0" BackAc="8388479" BackErr="7311359" BackCon="8388607" ViewName="True" ViewValue="True" SizeRatio="1" PanelHeightValue="30" PanelHeightGraph="120" PanelHeightPapouch="30" PanelHeightSetting="30"/>
		<WindowConfiguration AlwaysOnTop="False" ClickThrought="False" NormalAlphaBlend="204" AutoWidth="False" FidexWidth="200" AutoHideSupport="False" Visible="True"/>
	</VisualPanelManager>
	<TDSManager>
	</TDSManager>
	<WDATA>
		<WixData>
			<DataItem Guid="{25D706EC-9527-4347-B63F-D89CCEF9D229}" AddCoef="0" MultipleCoef="1" HistorySupport="True" Saturate="False" XLow="0" XHigh="10000" HistoryRecordingStarted="True"/>
		</WixData>
		<GroupList>
			<Group Guid="{4F3BB2C5-FADF-49DA-8170-BC933C5B9EAB}" Name="TME___Papouch_com" Caption="TME - Papouch.com">
				<DataIndex Guid="{25D706EC-9527-4347-B63F-D89CCEF9D229}" Index="0"/>
			</Group>
		</GroupList>
		<ManagerItem Caption="Papouch outside" Name="Papouch_outside" Enabled="True" Guid="{25D706EC-9527-4347-B63F-D89CCEF9D229}" UnitStr="°C" DecDigCount="1" AddCoef="0" MultipleCoef="1" Saturate="False" XLow="0" XHigh="10000" HistoryRefCount="1" ValueExpirationTime="0,000752314814814815">
			<ExtendedData InputTypeName="Temperature" InputBlockState="0" SpecialColorEnabled="False" InputDisplayType="0" SpecialColor="8388479" BackDisplayType="2" TypeMask="1" Counter="False" DigitalOutput="False" AnalogOutput="False" VirtualInput="False">
				<ColorDivider Count="5" Value0="0" Value1="16711680" Bound0="0" Value2="65280" Bound1="25" Value3="33023" Bound2="50" Value4="255" Bound3="75" Value5="255" Bound4="100"/>
				<Divider2Colors Count="6" Value0C1="16769216" Value0C2="16773344" Value1C1="16760960" Value1C2="16760960" Bound0="-10" Value2C1="16777088" Value2C2="16777088" Bound1="0" Value3C1="12648320" Value3C2="12648320" Bound2="10" Value4C1="8454016" Value4C2="8454016" Bound3="20" Value5C1="8454080" Value5C2="8454080" Bound4="30" Value6C1="8454112" Value6C2="8454128" Bound5="40"/>
			</ExtendedData>
			<StringValue Count="2" Value0="pod 0" Value1="v rozsahu 0 - 100" Bound0="0" Value2="nad 100" Bound1="100"/>
		</ManagerItem>
	</WDATA>
	<Calculation/>
</Wix>
